html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.content{
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.reading-mode{
  text-align: center;
}

.motto {
  text-align: center;
  font-size: 30px;
  margin:100px;
}

.social-media ul {
  list-style-type: none;
  text-align: center;
  padding: 15px 0 15px 0;
  margin: 0;
}

.social-media li {
  display:inline-block;
  padding:0 10px 0 10px;
  color: blueviolet;
 }

 .social-media li a{
  color: blueviolet;
 }
