html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    padding: 0;
    margin: auto;
    min-height: 100vh;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f8f9fa;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
}

a {
  color: #fff;
}

.reading-mode{
  text-align: center;
  color: #212529;
}

.navbar-light .navbar-brand {
  font-size: 1.5;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link{
  font-size: 1.5;
  font-weight: bold;
  padding: 0 30px 0 30px;
  color: #fff;
}

.motto {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin:150px 100px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.social-media ul {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.social-media li {
  display:inline-block;
  padding:10px 10px 0 10px;
  filter: drop-shadow(1px 1px 1px black);
 }

 svg:hover {
   color: black;
 }
 
 .text-shadow {
  text-shadow: 1px 1px 1px black;
 }

 .page-baseline {
   padding-bottom: 15px;
 }